/*dozen & tekst*/
.flexbox {
    display: flex;
}
.col {
    padding: 20px;
    margin: 4px;
    border-radius: 8px;
    border: 2px solid hsla(0, 0%, 0%, 0.641);
    background-image: linear-gradient(
        90deg,
        hsl(0, 100%, 50%),
        hsl(0, 0%, 0%)
    );
}
.left {flex: 50%;}
.right {flex: 50%;}
* {
    margin: 0;
    padding: 1;
    box-sizing: border-box;
}

/*koptitel*/
h1 {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background: -webkit-linear-gradient(hsl(0, 0%, 0%), hsl(0, 98%, 46%));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/*achtergrond*/
body {
    background-image: linear-gradient(
        hsl(0, 100%, 50%),
        hsla(0, 100%, 49%, 0.208)
    ),
    

    background-size: cover;
    background-position: center;
    margin: 20 100px;
    color: hsl(0, 0%, 0%);
    font-family:sans-serif;
}
h2 {margin: 5px;}
p {margin: 5px;}
ul {margin-left: 20px;}