* {
    margin: 0;
    padding: 0;
}
body {
    font-family: Arial, Helvetica, sans-serif;
}
.flex-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
header {
    background-color: hwb(170 25% 73%);
    padding: 3px;
}
header nav a {
    color: rgb(0, 0, 0);
    padding: 14px 20px 14px 20px;
    font-size: medium;
    text-decoration: none;
}
header nav a:hover {
    border-bottom: 2px solid rgb(11, 195, 241);
}
header nav li {
    display: inline;
    border-radius: 10%;
    border: rgb(159, 160, 160);
}
header img {
    width: 70px;
    margin-left: 20px;
}

header input {
    position: relative;
    margin-right: 20px;
    padding: 4px 26px;
    border-radius: 20px;
    width: 150px;
    border: 0;
}
.zoekbar i {
    position: absolute;
    color: hsl(0, 98%, 49%);
    font-size: 15px;
    z-index: 2;
    left: 1103px;
    top: 19px;
}

img {
    width: 100%;
}
.videoframe{
    overflow: hidden;
    margin-bottom: 3rem;
    max-height: 100vh;
}
video{
    width: 100%;
}
h6{
font-size: 3rem;
}
.flex-container {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
}

.flex-item {
    flex: 1;
}

figure {
    position: relative;
}

figcaption {
    position: absolute;
    bottom: 42%;
    left: 25%;
}
footer {
    padding: 5vw 10vw;
    background-color: #111;
    color: #925454;
    text-decoration: none;
}

footer a {
    text-decoration: none;
    color: #777575;
}

footer .flex-container:first-child {
    margin-bottom: 2rem;
}

footer ul li {
    font-size: 0.8rem;
    line-height: 2;
    list-style-type: none;
}

footer ul li:first-child a {
    color: #ffffff;
    font-size: 1rem;
    font-weight: 600;
    text-transform: uppercase;
}